<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch</title>
</head>
<body>
<div id="app">
    <h1>{{ full }}</h1>
    <input v-model="first">
    <input v-model="last">

</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
<script>
    new Vue({
        el: '#app',

        data: {
            first: 'Hakob',
            last: 'Baghdasaryan',
            full: 'Hakob Baghdasaryan'
        },

        watch: {
            first: function (first) {
                this.full = first + ' ' + this.last
            },

            last: function (last) {
                this.full = this.first + ' ' + last
            }
        }
    });
</script>
</body>
</html>